#b{
    background-color: #242A2E;
   
}
.logo
{
    height:95px;
}
.f1{
    font-size: 18px;
    font-family: "AvenirLTStd-Medium";
    margin-top: 3.2%;
    float: left;
    padding-left: 5px;
   color: #BFBFBF;
   border-bottom: solid .5px  #E85259;
   padding-bottom: 1.5px;
  
}
.top{
    margin-left:21%;
    margin-top: 3%;
    text-align: center;
   
}
.tit{
    text-align: center;
    
    font-family: 'Myriad Pro Light SemiExtended';
    display: inline-block;
    font-size:50px; 
     margin-left:38.1%;
    letter-spacing: 8px;
    margin-bottom: 0%;
    margin-top:1%;
    color: #E85259;
}
.tit1
{
    text-align: center;
    
    font-family: "AvenirLTStd-Medium";
    display: inline-block;
    font-size:20px; 
     margin-left: 31.6%;
    letter-spacing: 3px;
    margin-top:0.1%;
    color:#BFBFBF;
    margin-bottom: 40px;
}
a{
    text-decoration: none;
}
@font-face{
 font-family: 'Myriad Pro Light SemiExtended';
 src:url("Myriad_Pro_Light_SemiExtended.otf");
}
@font-face{
    font-family: "AvenirLTStd-Medium";
    src:url("AvenirLTStd-Medium.otf");
}
.clip{float:left;
    width:7vw;
    height:6vw;
    -webkit-clip-path: polygon(21% 0, 79% 0, 100% 50%, 81% 100%, 21% 100%, 0 50%);
clip-path: polygon(21% 0, 79% 0, 100% 50%, 81% 100%, 21% 100%, 0 50%);
}
#hex
{
    margin-left: 35vw;
    margin-right: 35vw;
}
#hex img:nth-child(1) {
 transform: translateX(12vw);
}
#hex img:nth-child(2) {
    transform: translate(-1.2vw,3vw);
   }
   #hex img:nth-child(3) {
    transform: translate(4.1vw,3.2vw);
   }
   #hex img:nth-child(4) {
    transform: translate(-9vw,6.6vw);
   }
   #hex img:nth-child(5) {
    transform: translate(-0.4vw);
   }
   #hex img:nth-child(6){
    transform: translate(17.2vw,0.3vw);
   }
   #hex img:nth-child(7){
    transform: translate(4.3vw,3.7vw);
   }
   #hex img:nth-child(8){
    transform: translate(-15.2vw,3.6vw);
   }

   #hex img:nth-child(9){
    transform: translate(12vw,1.1vw);
   }