#b{
    background-color: #242A2E;
   
}
.logo
{
    height:7vw;
}
.f1{
    font-size: 1.3vw;
    font-family: "AvenirLTStd-Medium";
    margin-top: 2vw;
    float: left;
    padding-left: 0.3vw;
   color: #BFBFBF;
   border-bottom: solid .5px  #E85259;
   padding-bottom: 0.2vw;
  
}
.top{
    margin-left:20.3vw;
    margin-top: 3vw;
    text-align: center;
   
}
.tit{
    text-align: center;
    
    font-family: 'Myriad Pro Light SemiExtended';
    display: inline-block;
    font-size:3.7vw; 
    margin-left: 37.7vw;
    margin-right:24vw;
    letter-spacing: 0.4vw;
    margin-bottom: 0%;
    margin-top:1%;
    color: #E85259;
}
.tit1
{
    text-align: center;
    
    font-family: "AvenirLTStd-Medium";
    display: inline-block;
    font-size:1.48vw; 
    margin-left: 28.85vw;
    letter-spacing: 0.188em;
    margin-top:0.1%;
    color:#BFBFBF;
    margin-bottom: 40px;
}
a{
    text-decoration: none;
}
@font-face{
 font-family: 'Myriad Pro Light SemiExtended';
 src:url("Myriad_Pro_Light_SemiExtended.otf");
}
@font-face{
    font-family: "AvenirLTStd-Medium";
    src:url("AvenirLTStd-Medium.otf");
}
.clip{float:left;
    width:9vw;
    height:8vw;
    
    -webkit-clip-path: polygon(21% 0, 79% 0, 100% 50%, 81% 100%, 21% 100%, 0 50%);
clip-path: polygon(21% 0, 79% 0, 100% 50%, 81% 100%, 21% 100%, 0 50%);
}
#hex
{
    margin-left: 33vw;
    margin-right: 37vw;
    filter:drop-shadow(10px 10px 5px  black);
}
#hex img:nth-child(1) {
 transform: translateX(12vw);
   }
#hex img:nth-child(2) {
    transform: translate(-4.8vw,4.3vw);
   }
   #hex img:nth-child(3) {
    transform: translate(1.75vw,4.4vw);
   }
   #hex img:nth-child(4) {
    transform: translate(-3.5vw,0.8vw);
   }
   #hex img:nth-child(5) {
    transform: translate(2.95vw,0.8vw);
   }
   #hex img:nth-child(6){
    transform: translate(9.5vw,0.85vw);
   }
   #hex img:nth-child(7){
    transform: translate(12.1vw,1.7vw);
   }
   #hex img:nth-child(8){
    transform: translate(-4.7vw,-2.9vw);
   }

   #hex img:nth-child(9){
    transform: translate(1.8vw,-2.8vw);
   }
   /* Modal info*/
   .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5vw; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    filter:drop-shadow(10px 10px 5px  black);
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   
    
}

/* Modal Content */
.modal-content {
    background-color:#f7f9fc;
    margin: auto;
    padding-bottom: 10px;
    
    width: 80%;
    
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-content h2,h3{
      font-family: 'Myriad Pro Light SemiExtended';
      text-align: center;
      
}
/* card css*/
.card {
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50vw;
    margin-bottom: 10vw;
    
    background-color: #ffffff;
    overflow: hidden;
    margin-top: 6vw;
    border-radius:1vw;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   
}

.container {
   
    padding-left:3vw;
    padding-top:2vw;
    padding-bottom: 2.5vw;
}

.coordi img{
    width:18vw;
    margin-left:5vw;
    margin-top:3vw;
    margin-bottom: 4vw;
    border-radius:50%;
    float: left;
    margin-right: 3.5vw;
    border: 3px solid #3cbcab;
}
.container p{
    font-size: 1.6vw;
    margin-left: 5vw;
    margin-bottom:1vw;
    color: #757272;
}
.coordi h3{
    font-size:3vw;
    letter-spacing: 0.2vw;
    color: #7da5a0;
}
.container h4{
    font-size: 2vw;
    color: #474444;
}
#a,#c{
    font-size:2.2vw;
    color:#4286f4;
    
}
#a{
    margin-left: 5.7vw;
}
#c{
    margin-left: 1vw;
}
