#grid {
    position: relative;
    width: 60vw;
    margin: 0 auto;
    padding-left: 0; /* Clears unordered list default of 40px */
    
}

.clear:after {
    content: "";
    display: block;
    clear: both;
} 

#grid li {
    list-style-type: none;
    position: relative;
    float: left;
    width: 10.5vw;
    padding: 0 0 8vw 0;
    background: #fd005f;
     overflow: hidden;
    visibility: hidden;
    
}
#grid li .hexagon {
    position: absolute;
    background:#BFBFBF;;
    margin-left: 1.2vw;
    
    width:8vw;
    height:8vw;
    transform: rotate(38deg) skewY(10deg) ;
}
#grid li *{
    visibility: visible;
}

